<div class="statistics">
    <div class="weather">
        <div class="info row">
            <div class="box">
                <div class="content row">
                    <div class="col-sm-4 content-spec">
                        <h1>Hồ Chí Minh</h1>
                    </div>
                    <div class="col-sm-4 weather-stat-icon content-spec">


                        <div class="icon sun-shower">
                            <div class="cloud"></div>
                            <div class="sun">
                                <div class="rays"></div>
                            </div>
                            <div class="rain"></div>
                        </div>

                        <!-- <div class="icon thunder-storm">
                                    <div class="cloud"></div>
                                    <div class="lightning">
                                        <div class="bolt"></div>
                                        <div class="bolt"></div>
                                    </div>
                                </div>
                
                                <div class="icon cloudy">
                                    <div class="cloud"></div>
                                    <div class="cloud"></div>
                                </div>
                
                                <div class="icon flurries">
                                    <div class="cloud"></div>
                                    <div class="snow">
                                        <div class="flake"></div>
                                        <div class="flake"></div>
                                    </div>
                                </div>
                
                                <div class="icon sunny">
                                    <div class="sun">
                                        <div class="rays"></div>
                                    </div>
                                </div>
                
                                <div class="icon rainy">
                                    <div class="cloud"></div>
                                    <div class="rain"></div>
                                </div> -->
                    </div>
                    <div class="col-sm-4 content-spec"></div>
                </div>
                <div class="week">

                </div>
            </div>
        </div>

    </div>
</div>