<div class="statistics">
    <div class="weather">
        <div class="info row">
            <div class="box">
                <div class="content row">
                    <div class="content-spec">
                        <div *ngIf="weather.city; else ElseContentName3">
                            <h1>{{weather.city.name}}</h1>
                        </div>
                        <ng-template #ElseContentName3>
                            <h1>Ha Noi</h1>
                        </ng-template>

                    </div>
                    <div class="weather-stat-icon content-spec">


                        <div class="icon sun-shower">
                            <div class="cloud"></div>
                            <div class="sun">
                                <div class="rays"></div>
                            </div>
                            <div class="rain"></div>
                        </div>

                        <!-- <div class="icon thunder-storm">
                            <div class="cloud"></div>
                            <div class="lightning">
                                <div class="bolt"></div>
                                <div class="bolt"></div>
                            </div>
                        </div> -->

                        <!-- <div class="icon cloudy">
                            <div class="cloud"></div>
                            <div class="cloud"></div>
                        </div> -->

                        <!-- <div class="icon flurries">
                            <div class="cloud"></div>
                            <div class="snow">
                                <div class="flake"></div>
                                <div class="flake"></div>
                            </div>
                        </div> -->

                        <!-- <div class="icon sunny">
                            <div class="sun">
                                <div class="rays"></div>
                            </div>
                        </div> -->

                        <!-- <div class="icon rainy">
                            <div class="cloud"></div>
                            <div class="rain"></div>
                        </div> -->
                    </div>
                    <div class="content-spec">
                        <div *ngIf="weather.city; else ElseContentName">
                            <h3>TEMP :{{weather.temperature.now.value}}°C</h3>
                            <h3>WIND :{{weather.wind.speed.value}} m/s</h3>
                            <h3>HUM :{{weather.humidity.value}}% </h3>
                        </div>
                        <ng-template #ElseContentName>
                            <h3>TEMP :25°C</h3>
                            <h3>WIND :5.7 Km/h</h3>
                            <h3>HUM :75% </h3>
                        </ng-template>


                    </div>

                    <div class="week-container row" *ngIf="forecastFlag; else ElseContentName1">

                        <div class="col-sm-3">
                            <h5>{{this.forecast[4]["10-13"].time.day.date.split(" ", 1)}}</h5>
                            <h5>Temp : {{this.forecast[4]["10-13"].temperature.now.value}}°C</h5>
                            <h5>Wind : {{this.forecast[4]["10-13"].wind.speed.value}} m/s</h5>
                            <h5>Hum : {{this.forecast[4]["10-13"].humidity.value}}% </h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>{{this.forecast[5]["10-13"].time.day.date.split(" ", 1)}} </h5>
                            <h5>Temp : {{this.forecast[5]["10-13"].temperature.now.value}}°C</h5>
                            <h5>Wind : {{this.forecast[5]["10-13"].wind.speed.value}} m/s</h5>
                            <h5>Hum : {{this.forecast[5]["10-13"].humidity.value}}% </h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>{{this.forecast[6]["10-13"].time.day.date.split(" ", 1)}}</h5>
                            <h5>Temp : {{this.forecast[6]["10-13"].temperature.now.value}}°C</h5>
                            <h5>Wind : {{this.forecast[6]["10-13"].wind.speed.value}} m/s</h5>
                            <h5>Hum : {{this.forecast[6]["10-13"].humidity.value}} % </h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>{{this.forecast[7]["10-13"].time.day.date.split(" ", 1)}}</h5>
                            <h5>Temp : {{this.forecast[7]["10-13"].temperature.now.value}}°C</h5>
                            <h5>Wind : {{this.forecast[7]["10-13"].wind.speed.value}} m/s</h5>
                            <h5>Hum : {{this.forecast[7]["10-13"].humidity.value}}% </h5>
                        </div>


                    </div>
                    <ng-template #ElseContentName1>
                        <div class="week-container row">
                            <div class="col-sm-3">
                                <h5>Tue</h5>
                                <h5>Temp :25°C</h5>
                                <h5>Wind :5.7 Km/h</h5>
                                <h5>Hum :75% </h5>
                            </div>
                            <div class="col-sm-3">
                                <h5>Wed </h5>
                                <h5>Temp :25°C</h5>
                                <h5>Wind :5.7 Km/h</h5>
                                <h5>Hum :75% </h5>
                            </div>
                            <div class="col-sm-3">
                                <h5>Thu</h5>
                                <h5>Temp :25°C</h5>
                                <h5>Wind :5.7 Km/h</h5>
                                <h5>Hum :75% </h5>
                            </div>
                            <div class="col-sm-3">
                                <h5>Fri</h5>
                                <h5>Temp :25°C</h5>
                                <h5>Wind :5.7 Km/h</h5>
                                <h5>Hum :75% </h5>
                            </div>

                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
    <mat-tab-group animationDuration="100ms">
        <div *ngFor="let item of devices, let i = index">
            <mat-tab [label]="item.id">
                <app-device-statistics id="stat" [index]=" i" [stat]="item"> </app-device-statistics>

            </mat-tab>
        </div>
    </mat-tab-group>


</div>
<div class="recommend">
    <div class="row">
        <div class=" left veget " [ngClass]="{hungque:veGetType[0],            
                bapcai:veGetType[1],
                cantay:veGetType[2],
                caixoong:veGetType[3],
                caixanh:veGetType[4],
                tiato:veGetType[5],
                bacha:veGetType[6],
                boxoi:veGetType[7],
                hunglui:veGetType[8],
                raumuong:veGetType[9]}">
            <div class="row">
                <div (click)="ShowVegetInfo(0)" class="vegetType"><img src="./../../../../assets/img/hungque.jpg"
                        alt="">
                </div>
                <div (click)="ShowVegetInfo(1)" class="vegetType"><img src="./../../../../assets/img/bapcai.jpg" alt="">
                </div>
                <div (click)="ShowVegetInfo(2)" class="vegetType"><img src="./../../../../assets/img/cantay.jpg" alt="">
                </div>
                <div (click)="ShowVegetInfo(3)" class="vegetType"><img src="./../../../../assets/img/caixoong.jpg"
                        alt=""></div>
                <div (click)="ShowVegetInfo(4)" class="vegetType"><img src="./../../../../assets/img/caixanh.jpg"
                        alt="">
                </div>
            </div>
            <div class="row">
                <div (click)="ShowVegetInfo(5)" class="vegetType"><img src="./../../../../assets/img/tiato.jpg" alt="">
                </div>
                <div (click)="ShowVegetInfo(6)" class="vegetType"><img src="./../../../../assets/img/bacha.jpg" alt="">
                </div>
                <div (click)="ShowVegetInfo(7)" class="vegetType"><img src="./../../../../assets/img/caiboxoi.jpg"
                        alt=""></div>
                <div (click)="ShowVegetInfo(8)" class="vegetType"><img src="./../../../../assets/img/hunglui.jpg"
                        alt="">
                </div>
                <div (click)="ShowVegetInfo(9)" class="vegetType"><img src="./../../../../assets/img/raumuong.jpg"
                        alt=""></div>
            </div>
            <div class="vegetPPM">
                <h2>{{nutrient.plant_name}}</h2>
                <h2>TDS: {{nutrient.ppm_min}} - {{nutrient.ppm_max}} ppm</h2>
            </div>
        </div>
        <div class=" right">
            <mat-tab-group animationDuration="100ms">
                <div class="control" *ngFor="let item of devices">
                    <mat-tab [label]="item.id">
                        <app-device-control [device]="item"></app-device-control>
                    </mat-tab>

                </div>
            </mat-tab-group>

        </div>
    </div>
</div>