<div class="statistics">
    <div class="weather">
        <div class="info row">
            <div class="box">
                <div class="content row">
                    <div class="content-spec">
                        <h1>Hồ Chí Minh</h1>
                    </div>
                    <div class="weather-stat-icon content-spec">


                        <div class="icon sun-shower">
                            <div class="cloud"></div>
                            <div class="sun">
                                <div class="rays"></div>
                            </div>
                            <div class="rain"></div>
                        </div>

                        <!-- <div class="icon thunder-storm">
                            <div class="cloud"></div>
                            <div class="lightning">
                                <div class="bolt"></div>
                                <div class="bolt"></div>
                            </div>
                        </div> -->

                        <!-- <div class="icon cloudy">
                            <div class="cloud"></div>
                            <div class="cloud"></div>
                        </div> -->

                        <!-- <div class="icon flurries">
                            <div class="cloud"></div>
                            <div class="snow">
                                <div class="flake"></div>
                                <div class="flake"></div>
                            </div>
                        </div> -->

                        <!-- <div class="icon sunny">
                            <div class="sun">
                                <div class="rays"></div>
                            </div>
                        </div> -->

                        <!-- <div class="icon rainy">
                            <div class="cloud"></div>
                            <div class="rain"></div>
                        </div> -->
                    </div>
                    <div class="content-spec">
                        <h3>TEMP :25°C</h3>
                        <h3>WIND :5.7 Km/h</h3>
                        <h3>HUM :75% </h3>

                    </div>
                    <div class="week-container row">
                        <div class="col-sm-3">
                            <h5>Tue</h5>
                            <h5>Temp :25°C</h5>
                            <h5>Wind :5.7 Km/h</h5>
                            <h5>Hum :75% </h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>Wed </h5>
                            <h5>Temp :25°C</h5>
                            <h5>Wind :5.7 Km/h</h5>
                            <h5>Hum :75% </h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>Thu</h5>
                            <h5>Temp :25°C</h5>
                            <h5>Wind :5.7 Km/h</h5>
                            <h5>Hum :75% </h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>Fri</h5>
                            <h5>Temp :25°C</h5>
                            <h5>Wind :5.7 Km/h</h5>
                            <h5>Hum :75% </h5>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="device-statistics">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4 col-md-6 mb-4">
                    <div class="card">

                        <div class="card-body">
                            <i class="fa fa-water"></i>
                            <h2>W-level: 75%</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-6 mb-4">
                    <div class="card">

                        <div class="card-body">
                            <i class="fa fa-bolt"></i>
                            <h2>EC: 2.1 mS/cm</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-6 mb-4">
                    <div class="card">

                        <div class="card-body">
                            <i class="fa fa-temperature-low"></i>
                            <h2>Temp: 31°C</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-6 mb-4 ">

                    <div class="card stat-box" [ngClass]="{on:statusPump,off:!statusPump}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="card-body">
                            <img src="../../../../assets/images/icons/pump-icon-1.jpg" alt="">
                            <h2>Pump: {{pumpStatusHTML}}</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-6 mb-4">
                    <div class="card ">

                        <div class="card-body">
                            <img src="../../../../assets/images/icons/download.png" alt="">
                            <h2>TDS: 500ppm</h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-md-6 mb-4">
                    <div class="card stat-box" [ngClass]="{on:statusPumpAuto,off:!statusPumpAuto}">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <div class="card-body">
                            <i class="fab fa-whmcs"></i>
                            <h2>Auto : {{pumpAutoStatusHTML}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="recommend">
    <div class="row">
        <div class="col-lg-6 left">
            <img src="./../../../../assets/images/Capture.PNG" alt="">
        </div>
        <div class="col-lg-6 right">
            <table class="table">
                <tbody>
                    <tr>
                        <td scope="row"></td>
                        <td>
                            <h3>Bơm tay</h3>
                        </td>
                        <td>
                            <div *ngIf="!statusPump; else ElseContent">
                                <button style="width: 50px" class="btn btn-success" (click)="PumpOn()">On</button>

                            </div>
                            <ng-template #ElseContent>
                                <button style="width: 50px" class="btn btn-danger" (click)="PumpOff()">Off</button>
                            </ng-template>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td>
                            <h3>Bơm tự động</h3>
                        </td>
                        <td>
                            <div *ngIf="!statusPumpAuto; else ElseContent1">
                                <button style="width: 50px" class="btn btn-success" (click)="PumpAutoOn()">On</button>

                            </div>
                            <ng-template #ElseContent1>
                                <button style="width: 50px" class="btn btn-danger" (click)="PumpAutoOff()">Off</button>
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>