<h1>Thiết bị {{index +1}}</h1>


<h2>Nhiệt độ</h2>
<div class="chart-wrapper">
    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
    </canvas>

</div>
<br>
<h2>Độ ẩm</h2>
<div class="chart-wrapper">
    <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels1" [options]="lineChartOptions"
        [colors]="lineChartColors1" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
    </canvas>

</div>
<br>
<h2>Ánh Sáng</h2>
<div class="chart-wrapper">
    <canvas baseChart [datasets]="lineChartData2" [labels]="lineChartLabels2" [options]="lineChartOptions"
        [colors]="lineChartColors2" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
    </canvas>

</div>
<br>
<h2>Độ dẫn điện</h2>
<div class="chart-wrapper">
    <canvas baseChart [datasets]="lineChartData3" [labels]="lineChartLabels3" [options]="lineChartOptions"
        [colors]="lineChartColors3" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
    </canvas>

</div>
<br>
<h2>Mật độ chất rắn hòa tan</h2>
<div class="chart-wrapper">
    <canvas baseChart [datasets]="lineChartData4" [labels]="lineChartLabels4" [options]="lineChartOptions"
        [colors]="lineChartColors4" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
    </canvas>

</div>