<div class="container1" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>Login</h2>
        <form #formSignIn="ngForm" (submit)="_handleOnSubmit(formSignIn)">

            <input placeholder="Email" type="email" name="email" required #email="ngModel"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel>

            <p class="alert alert-danger mt-2" *ngIf="email?.errors?.required && (email.dirty || email.touched)">
                Email is invalid</p>
            <p class="alert alert-danger mt-2" *ngIf="email?.errors?.pattern"> Email is invalid </p>
            <input placeholder="Password" type="password" #password="ngModel" required minlength="6" maxlength="16"
                name="password" ngModel>

            <p class="alert alert-danger mt-2"
                *ngIf="password?.errors?.required && (password.dirty || password.touched)">
                Password is required</p>
            <p class="alert alert-danger mt-2" *ngIf="password?.errors?.minlength || password?.errors?.maxlength">
                Password must
                contain at least 6 or less than 16 characters </p>
            <button class="btn btn-success mt-3" type="submit">Login</button>
        </form>



    </div>
</div>