td {
  text-align: center;
}
.typeUser {
  display: flex;
  justify-content: center;
  .user {
    font-size: 12px;
    background-color: greenyellow;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
    width: 87px;
    margin-top: 15px;
  }
  .admin {
    font-size: 12px;
    background-color: crimson;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
    width: 87px;
    margin-top: 15px;
  }
}

input {
  width: 100%;
  padding: 15px;
  margin: 5px;
  padding-right: 20px;
  border-radius: 1px;
  border: 1px solid #ccc;
  font-family: inherit;
}
#myModal {
  header {
    h2 {
      font-family: "Solway", serif;
      margin-left: 30px;
      margin-top: 30px;
    }
    button {
      font-family: "Solway", serif;
    }
    .btn {
      font-family: "Solway", serif;
    }
  }
}

#myModal1 {
  header {
    h2 {
      font-family: "Solway", serif;
      margin-left: 30px;
      margin-top: 30px;
    }

    .btn {
      font-family: "Solway", serif;
    }
  }
}
::ng-deep button {
  font-family: "Solway", serif;
}
select {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin: 5px;

  padding-right: 20px;
  border-radius: 1px;
  border: 1px solid #ccc;
  color: black;
}
h3,
a,
th,
span,
td,
input,
select,
option {
  font-family: "Tomorrow", sans-serif;
}
