<div class="margintop">
    <div class="container mt-5">
        <div class="card text-center">

            <div class="card-header myCardHeader">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-left text-primary font-weight-bold">Thông tin người dùng </h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn buttonOn mr-2" id="btnThem" data-toggle="modal" data-target="#myModal0"> Đổi
                            mật khẩu</button>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="info">
                    <h3>Tên người dùng :{{user.username}} </h3>
                    <h3>Email : {{user.email}}</h3>
                    <h3>Địa chỉ : {{user.city}}</h3>
                </div>

            </div>


        </div>




    </div>
</div>
<div class="margintop">
    <div class="container mt-5">
        <div class="card text-center">

            <div class="card-header myCardHeader">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-left text-primary font-weight-bold">Liên Hệ </h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn buttonOn mr-2" id="btnThem" data-toggle="modal" data-target="#myModal2"><i
                                class="fa fa-paper-plane"></i> Send Feedback</button>

                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row mb-4 mess-mana">
                    <button (click)="displayOverallList()" class="row">
                        <div class="icon"> <i class="fa fa-comments"></i></div>
                        <div class="title"> Overall Messages</div>

                    </button>
                    <button (click)="displayUnreadList()" class="row">
                        <div class="icon"> <i class="fab fa-telegram-plane"></i></div>
                        <div class="title"> Unread Messages</div>

                    </button>
                    <button (click)="displayReceiveList()" class="row">
                        <div class="icon"> <i class="fa fa-reply-all"></i></div>
                        <div class="title"> Received Messages</div>

                    </button>
                </div>
                <table class="table table-bordered table-hover myTable">
                    <thead class="text-primary">
                        <tr>

                            <th>From</th>

                            <th>Title</th>
                            <th>Content</th>
                            <th><em class="fa fa-cog"></em></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <ng-container *ngFor="let item of userList">
                                <app-user-item [user]="item">
                                </app-user-item>
                            </ng-container> -->
                        <tr *ngFor="let item of feedbacksList">

                            <td>
                                <div>
                                    Admin
                                </div>
                                <ng-container *ngIf="item.admin; else ElseContentName5">
                                    <div class="typeUser">
                                        <div class="admin">
                                            ADMIN
                                        </div>
                                    </div>

                                </ng-container>
                                <ng-template #ElseContentName5>
                                    <div class="typeUser">
                                        <div class="user">
                                            USER
                                        </div>
                                    </div>
                                </ng-template>
                            </td>
                            <td>
                                {{item.title}}
                            </td>
                            <td class="content">
                                {{item.content}}
                            </td>

                            <td>
                                <button class="btn btn-info mr-1" data-toggle="modal" data-target="#myModal"
                                    (click)="ShowFeedbackDetail(item)">
                                    <i class="fa fa-comment-dots"></i>
                                </button>
                                <button class="btn btn-success mr-1" data-toggle="modal"
                                    (click)="ReplyNotification(item)" data-target="#myModal1"><i
                                        class="fa fa-reply"></i></button>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="card-footer myCardFooter">
                <nav>
                    <ul class="pagination justify-content-center">
                        <ng-container *ngFor="let item of totalPage">
                            <li><button class="btn mr-1"
                                    [ngClass]="{'btn-secondary':item!==currentPage,'btn-info':item===currentPage}"
                                    (click)="getAllNotification()">{{item}}</button></li>
                        </ng-container>
                    </ul>
                </nav>
            </div>
        </div>


        <!-- form edit -->
        <!-- The Modal -->
        <div class="modal fade" id="myModal0">
            <div class="modal-dialog">
                <div class="modal-content">

                    <header class="head-form mb-0">
                        <h2>Đổi mật khẩu</h2>
                    </header>


                    <div class="modal-body">

                        <form #formChangePass="ngForm">

                            <span>Mật khẩu hiện tại <input type="text" type="password" minlength="6" maxlength="16"
                                    name="currentPassword" required #currentPassword="ngModel" ngModel></span>

                            <p class="alert alert-danger mt-2"
                                *ngIf="currentPassword?.errors?.required && (currentPassword.dirty || currentPassword.touched)">
                                Vui lòng xác nhập mật khẩu hiện tại</p>
                            <p class="alert alert-danger mt-2"
                                *ngIf="currentPassword?.errors?.minlength || currentPassword?.errors?.maxlength">
                                Mật khẩu phải từ 6 đến 16 kí tự</p>

                            <span>Mật khẩu mới <input type="text" minlength="6" maxlength="16" type="password"
                                    #newPassword="ngModel" required name="newPassword" ngModel></span>
                            <p class="alert alert-danger mt-2"
                                *ngIf="newPassword?.errors?.required &&  (newPassword.dirty || newPassword.touched)">
                                Vui lòng nhập mật khẩu mới </p>
                            <p class="alert alert-danger mt-2"
                                *ngIf="newPassword?.errors?.minlength || newPassword?.errors?.maxlength">
                                Mật khẩu phải từ 6 đến 16 kí tự</p>
                            <span>Xác nhận mật khẩu <input minlength="6" maxlength="16" type="text" type="password"
                                    pattern="{{ newPassword.value }}" #confirmNewPassword="ngModel" required
                                    name="confirmNewPassword" ngModel></span>
                            <p class="alert alert-danger mt-2"
                                *ngIf="confirmNewPassword?.errors?.required &&  (confirmNewPassword.dirty || confirmNewPassword.touched)">
                                Vui lòng nhập xác nhận mật khẩu mới </p>
                            <p class="alert alert-danger mt-2"
                                *ngIf="confirmNewPassword?.errors?.minlength || confirmNewPassword?.errors?.maxlength">
                                Mật khẩu phải từ 6 đến 16 kí tự</p>
                            <p class="alert alert-danger mt-2" *ngIf="confirmNewPassword?.errors?.pattern"> Xác nhận
                                phải trùng với mật khẩu</p>
                        </form>

                    </div>


                    <div class="modal-footer" id="modal-footer">

                        <button id="btnCapNhat" type="button" (click)="_handleOnSubmitChangePassForm()"
                            class="btn btn-success">Xác nhận</button>
                        <button id="btnDong" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">

                    <header class="head-form mb-0">
                        <h2>Send Feedback </h2>
                    </header>


                    <div class="modal-body">

                        <form #formEdit="ngForm">

                            <span>To <input placeholder="To" type="text" name="userid" readonly required
                                    #userid="ngModel" ngModel></span>

                            <p class="alert alert-danger mt-2"
                                *ngIf="userid?.errors?.required && (userid.dirty || userid.touched)">
                                Please enter Receiver's ID</p>


                            <span>Title <input placeholder="Title" type="text" #title="ngModel" readonly required
                                    name="title" ngModel></span>
                            <p class="alert alert-danger mt-2"
                                *ngIf="title?.errors?.required &&  (title.dirty || title.touched)">
                                Please Enter Title </p>
                            <span>Content <textarea placeholder="Content" name="content" rows="7" cols="30"
                                    #content="ngModel" required ngModel>Content</textarea>
                                <p class="alert alert-danger mt-2"
                                    *ngIf="content?.errors?.required && (content.dirty || content.touched)">
                                    Vui lòng nhập mô tả sản phẩm </p>
                            </span>
                        </form>

                    </div>


                    <div class="modal-footer" id="modal-footer">

                        <button id="btnCapNhat" type="button" (click)="_handleOnSubmitEditForm()"
                            class="btn btn-success">Send</button>
                        <button id="btnDong" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">

                    <header class="head-form mb-0">
                        <h2>Send Feedback </h2>
                    </header>


                    <div class="modal-body">

                        <form #formEdit1="ngForm">


                            <span>Title <input placeholder="Title" type="text" #title="ngModel" required name="title"
                                    ngModel></span>
                            <p class="alert alert-danger mt-2"
                                *ngIf="title?.errors?.required &&  (title.dirty || title.touched)">
                                Please Enter Title </p>
                            <span>Content <textarea placeholder="Content" name="content" rows="7" cols="30"
                                    #content="ngModel" required ngModel>Content</textarea>
                                <p class="alert alert-danger mt-2"
                                    *ngIf="content?.errors?.required && (content.dirty || content.touched)">
                                    Content is required</p>
                            </span>
                        </form>

                    </div>


                    <div class="modal-footer" id="modal-footer">

                        <button id="btnCapNhat" type="button" (click)="_handleOnSubmitEditForm1()"
                            class="btn btn-success">Send</button>
                        <button id="btnDong" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <header class="head-form mb-0">
                        <h2>Notification Detail</h2>
                    </header>


                    <div class="modal-body">

                        <form #formDetail="ngForm">

                            <span>To <input placeholder="To" type="text" name="userid" readonly required
                                    #userid="ngModel" ngModel></span>

                            <span>Title <input placeholder="Title" type="text" #title="ngModel" readonly required
                                    name="title" ngModel></span>

                            <span>Content <textarea placeholder="Content" readonly name="content" rows="7" cols="30"
                                    #content="ngModel" required ngModel></textarea>
                            </span>
                        </form>

                    </div>


                    <div class="modal-footer" id="modal-footer">
                        <button id="btnDong" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>